*{
    margin: 0%;
    background-color: #0C2D48;
}


.Header{
    color: whitesmoke;
    font-family:'Kaushan Script', cursive;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-content: center;
}


.Logo{

    padding: 10px 0px 0px 0px ;
}


.MobileNav{
    display: none;
}

.DropDisabled{
    display: none;
}

.Change{
    display: block;
}



.MobileBanner{
    display: none;
}
.Navs{
    display: flex;
    justify-content: space-between;
    margin:20px;

}

.List{
    display: flex;
    list-style:none;
    line-height: 40px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: larger;
    color: #C3DFCA;
    text-decoration: none;
}


.btn{
    color: #fff;
    font-size: medium;
}

.btn:hover{
    width: auto;

    background-color:cornflowerblue;
    border-radius: 5px;
    border: 1px solid palevioletred;

    color:black;
}

li {
   margin: 0px 10px 10px 20px;
}

.Cart{
    padding: 40px 10px 10x 40px ;

}

.Search{
    padding:6px;
    width:30vw;
    height:6vh;
    background-color: rgba(242, 244, 247, 0.733);
    border-radius: 20px;
    margin-left:20px;
    border: 2px solid #399ae8;
}

.Search1{
    display: none;
}

.Title{
    font-family: 'Josefin Sans', sans-serif;
    font-size:xx-large;
    text-align: center;
    padding: 30px 10px;
    background-color:#0C2D48;
    color: #fff;
}

.Products{
    padding:30px ;
    display:grid;
    grid-template-columns: auto auto auto ;
    justify-content: center;
    align-content: center;
    column-gap: 100px;
    text-align:center;
    border-bottom: 1px solid white;
}
.Card{
   
    text-align: center;
    height:max-content;
    border-radius: 10px;
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;
    border:hidden;
    justify-content: center;
    align-content: center;
    text-align: center;
}



.OtherCards{
    width: 100%;
    border-bottom: 1px solid white;
    display: flex;
    /* padding: 30px; */
    flex-direction: row;
    padding-left:25%;
    padding-right:20%;
    justify-content: space-between;
    align-content: center;
}

.Card:hover{
    transform: scale(1.1);
}

.Card>img{
    border-radius: 8px;
}


.Heading{
    background-color: transparent;
    color: aliceblue;
    font-family:'Josefin Sans', sans-serif;
    padding: 20px;
}

.Search:invalid ~ span::after {
    content: "✖";
    padding-left: 5px;
    position: absolute;
  }

.Search:valid ~ span::after {
    content: "✓";
    padding-left: 5px;
    position: absolute;
  }

  .AboutUs{

    height: max-content;
    padding:30px;
    display: flex;
    justify-content: center;
    color: aliceblue;

    font-family:'Josefin Sans', sans-serif;
  }

  .AboutContainer{

    display: flex;
    flex-direction: row;
    width: 70%;
    border-radius: 10px;
    border: 1px solid #399ae8;
    padding:20px;
    font-size: larger;
    text-align: center;
  }

  .AboutContainer:hover{
    border: 1px solid green;

  }


  .BackTop{
    /* width:100vw; */

    display: flex;
   justify-content:end;
   align-content: center;
   bottom:0px;
   background-color: #b1cadf;
   position: sticky;
  }

  .Up{
    cursor: pointer;
    opacity:0.4;
    margin-right: 10px;
 }

 .Up:hover{
     opacity:1;
 }


.Footer {

    display: flex;
    flex-direction: column;
    text-align: center;
    border-top: 1px solid white;
    justify-content:center;
    align-items: center;
    color: white;

}

.FooterDetails {
    background-color: transparent;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* padding:60px 100px 50px 100px; */
    flex-direction: column;
    text-align: center;
    display: flex;
    align-items: center;
}

.FooterDetails >p{
    color: #6c757d;
    background-color: transparent;
    text-align: center;
    line-height: 30px;
}

.FooterDetails >h4 {
    align-items: center;
    color:white;
    background-color: transparent;
}

.SocialMedia{
    /* width: 100vw; */
    display: flex;
    flex-direction:row;
   list-style:none;

}


.SocialMedia,li:hover{
    transform: scale(1.2);
}



  @media screen and (max-width:600px) {

    .Logo{
        display: flex;
        justify-content: center;
       margin-left: 30%;
       margin-right: 50%;
    }

    .Header{
        width: auto;
        font-size: larger;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .MobileNav{
        display:flex;
        flex-direction:column;
        justify-content: space-between;
    }

    .dropdown-toggle:after { 
        content: none 
    }



    .btn:hover{
        background-color: transparent;
        border: 0px transparent;
    }
    .List{
        display: none;
    }

     .Cart{
        width: 40px;
        height: 30px;
        margin: 20px;
        float:right;
    }

    .Cart:hover{
        transform:matrix3d(1)
    }

    hr{

        display: none;

    }

    .DesktopBanner{
        display: none;
    }

    .MobileBanner{
        display:block;
    }

    .Search{
        display:none;
    }


    .Search1{
        display: block;
        padding:6px;
        width:100vw;
        height:6vh;
        background-color: rgba(242, 244, 247, 0.733);
        border-radius: 20px;
        border: 2px solid #399ae8;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .Products{

        display: grid;
        grid-template-columns: auto;

    }

    .Card{
        margin: 0%;

    }
    .OtherCards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        content: icon;
        text-align: center;
        padding-left:20%;

    }



    .AboutContainer{

        width:90%;
        display:flex;
        flex-direction:column;
    }

    .AboutPic{
        display: flex;
        justify-content: center;

    }

    .BackTop{
        width:100vw;
        display: flex;
       justify-content:end;
       align-content: center;
       bottom:0px;
       background-color: #b1cadf;
       position: sticky;
    }





    .Footer{
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        word-wrap: break-word;

    }

    .FooterDetails> h4{
        font-size:20px;
    }

    .FooterDetails> p{
        font-size:20px;
        word-wrap: normal;
    }
    .SocialMedia{
        width: 200px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        flex-flow:row;
        padding:0%;

    }

    .SocialMedia,li{
        line-height:normal;
        margin: 0px 0px 0px 10px;
        padding: 0%;


    }
  }


